.wallet-page {
  background-color: #f8f9fa;
  min-height: 100vh;
  width: 100vw;
}

.wallet-page .logo img {
  padding: 0 15px;
}

.wallet-left-column {
  background-color: #212529;
  color: #f8f9fa;
  padding-bottom: 30px;
  position: relative;
  transition: 500ms background;
  width: 320px;
}

.column-editing {
  background-color: #2b3238;
  transition: 500ms background;
}

.wallet-page .line {
  background-color: white;
  height: 1px;
  margin-bottom: 2rem;
  width: 80%;
}

.email-field {
  font-size: 12px;
}

.expenses {
  font-size: 35px;
  margin-top: -0.8rem;
}

.form-expense {
  width: 80%;
}

.fields {
  width: 100%;
}

.right-column {
  flex: 1;
  min-width: calc(100vw - 320px);
  width: auto;
}

.expenses-table {
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
}

.cell-buttons button {
  background: none;
  border: none;
  margin: 0 0.3rem;
  padding: 0;
}

thead th {
  font-size: 12px;
}

tbody {
  font-size: 15px;
}

.expand-btn {
  background-color: #495661;
  border: none;
  border-bottom-left-radius: 5px;
  color: #eee;
  font-size: 8px;
  padding: 4px 8px;
  position: absolute;
  right: 0;
}

.wallet-left-column.close {
  animation: close 200ms ease-in-out;
  width: 50px;
}

.wallet-left-column.open {
  animation: open 200ms ease-in-out;
}

.wallet-left-column.close * {
  display: none;
}

.wallet-left-column.close .expand-btn {
  display: block;
}

@keyframes close {

  from {
    width: 320px;
  }

  to {
    width: 50px;
  }
}

@keyframes open {

  from {
    width: 50px;
  }

  to {
    width: 320px;
  }
}

@media screen and ( min-width : 1440px ) {

  .form-expense {
    height: 450px;
    justify-content: space-between;
  }

  .fields {
    height: 400px;
    justify-content: space-around;
  }

  .fields button {
    margin: 0;
  }

}
