@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  /* min-height: 100%; */
  overflow-x: hidden;
}

body {
  font-family: 'Jost', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  min-height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
